<fieldset class='flex w-full flex-col mb-2 cursor-pointer'>
  <label class='w-full mb-1 font-extralight text-primary'>
    {{@label}}
    <Input
      @type={{@type}}
      @value={{@value}}
      ...attributes
      class='mb-1 px-4 w-full font-light rounded border border-primary placeholder-opacity-50 focus:outline-none focus:border-secondary'
    />
  </label>
</fieldset>