<Base::Container @title='Admin panel'>
  <div class='grid grid-cols-1 md:grid-cols-[1fr_4fr] w-full'>
    <section>
      <h3 class='font-semi-bold text-primary text-md'>Admin Panel</h3>
    </section>
    <section>
      {{outlet}}
    </section>
  </div>
</Base::Container>