<Base::Container @title='Admin panel'>
  <div class='grid grid-cols-1 md:grid-cols-4 w-full'>
    <section>
      <h3 class='font-medium text-primary text-sm'>Admin Panel</h3>
    </section>
    <section class='md:col-span-3'>
      {{outlet}}
    </section>
  </div>
</Base::Container>